{% extends 'base.html.twig' %}

{% block title %}Edit Keyboard{% endblock %}

{% block body %}
    <h1>Edit Keyboard</h1>

    {{ include('keyboard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_keyboard_index') }}">back to list</a>

    {{ include('keyboard/_delete_form.html.twig') }}
{% endblock %}
